{
  "extends": ["airbnb-base", "prettier"],
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      }
    }
  }
}
