$color-sweYellow: #ffbe51;
$color-sweYellowGradient: linear-gradient(92deg, #fbab7e 0%, #f7ce68 100%);
$color-sweBlue: #4455aa;
$color-sweBlueGradient: linear-gradient(
  -92deg,
  #3d4e81 0%,
  #5753c9 48%,
  #6e7ff3 100%
);

body {
  background: $color-sweYellowGradient;
}
