@import url('https://fonts.googleapis.com/css?family=Roboto:400,900');
//to-do remove unsed weights

.title {
  color: $color-sweBlue;
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  font-weight: 900;
  margin-top: 90px;
  text-align: center;
  @include breakpoint(md) {
    font-size: 4rem;
  }
}

.helper {
  color: $color-sweBlue;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 900;
  margin-top: 90px;
  text-align: center;
  @include breakpoint(md) {
    font-size: 2rem;
  }
}
